:root {
    --white: #ffffff;
    --active: #404BBF;
    --cta: #4D5AE5;
    --dark: #2E2F42;
    --success: #31D0AA;
    --black: #000000;
    --primary-text: #434455;
    --secondary-text: #8E8F99;
    --accent: #E7E9FC;
    --light-bgc: #F4F4FD;
    --overlay: rgba(46, 47, 66, 0.4);
    --hero-bgc: rgba(46, 47, 66, 0.7);
    --modal-bgc: rgba(46, 47, 66, 0.4);
}

body {
    color: var(--primary-text);
    background-color: var(--white);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    color: var(--dark);
}

h2 {
    color: var(--dark);
}

/* header */

.logo-header {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: var(--cta);
}

.logo-colored {
    color: var(--dark);
}

/* navigation */


.nav-item-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--dark);

}

.navigation .nav-item-link:hover,
.navigation .nav-item-link:focus {
    color: var(--active);
}


/* address */

.address-header {
    font-style: normal;
}

.address-item-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--primary-text);

}

.address-header .address-item-link:hover,
.address-header .address-item-link:focus {
    color: var(--active);
}


/* hero */

.hero {
    background-color: var(--dark);
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    cursor: pointer;
    background-color: var(--cta);
    color: var(--white);

}

.hero .hero-button:hover,
.hero .hero-button:focus {
    background-color: var(--active);
}


/* section features */

.feature-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark);

}

.feature-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;

}

.feature-item-text {
    letter-spacing: 0.02em;
}


/* section team */

.team {
    background-color: var(--light-bgc);
}

.team-item {
    background-color: var(--white);
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--dark);
}

.team-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-item-text {
    text-align: center;
    letter-spacing: 0.02em;
}


/* section portfolio */

.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.portfolio-item-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;

    text-align: left;

}

.portfolio-item-text {
    text-align: left;
    letter-spacing: 0.02em;

}


/* footer */

.footer {
    background-color: var(--dark);
}

.footer-text {
    color: var(--light-bgc);
    letter-spacing: 0.02em;
}

.logo-footer {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    color: var(--cta);
}

.logo-footer-white {

    color: var(--light-bgc);
}