:root {
    --white: #ffffff;
    --active: #404BBF;
    --cta: #4D5AE5;
    --dark: #2E2F42;
    --success: #31D0AA;
    --black: #000000;
    --primary-text: #434455;
    --secondary-text: #8E8F99;
    --accent: #E7E9FC;
    --light-bgc: #F4F4FD;
    --overlay: rgba(46, 47, 66, 0.4);
    --hero-bgc: rgba(46, 47, 66, 0.7);
    --modal-bgc: rgba(46, 47, 66, 0.4);
    --card-overlay: #4D5AE5;
    --function-animation: cubic-bezier(0.4, 0, 0.2, 1);
       /* Fonts */
       --primary-font: 'Roboto', sans-serif;
       --secondary-font: 'Raleway', sans-serif;
   
         /* Colors */
       --primary-cl: #2e2f42;  
       --secondary-cl: #f4f4fd;
       --accent-cl-100: #4d5ae5;
       --accent-cl-200: #404bbf;
       --light-cl:  #ffffff;
       --light-cl-100: rgb(231, 233, 252);
       --dark-cl: #434455;
       --footer-hover: #31d0aa;
   
       /* Others */
       --radius: 4px;
       --radius-circle: 50%; 
       --items: 4;
       --col-indent: 24px;
       --row-indent: var(--col-indent);
   
       --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
       --primary-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
       0 1px 1px 0 rgba(46, 47, 66, 0.16), 
       0 1px 6px 0 rgba(46, 47, 66, 0.08);
       --secondary-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 
       0 2px 1px 0 rgba(0, 0, 0, 0.08), 
       0 3px 1px 0 rgba(0, 0, 0, 0.1);
       --btn-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

}

body {
    color: var(--primary-text);
    background-color: var(--white);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* general  */

.section {
    padding: 120px 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */



.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    position: relative;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--active);
}

.nav-link .current {
    color: var(--active);
}

.current:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--active);
    border-radius: 2px;

}

.nav-link.current {
    color: var(--active);
}



.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}


/* hero */

.hero {
    margin: 0 auto;
    max-width: 1440px;
    padding: 188px 0;
    background: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/people-office.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    cursor: pointer;
    background-color: var(--cta);
    color: var(--white);
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    border: transparent;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .hero-button:hover,
.hero .hero-button:focus {
    background-color: var(--active);
}

.hero-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* section features */

.feature-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark);


}

.feature-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
    color: var(--dark);

}

.feature-item-text {
    letter-spacing: 0.02em;
}

.feature-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 3 * 24px) / 4);

}

.feature-icon-wrapper {
    height: 112px;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;

}

/* section team */

.team {
    background-color: var(--light-bgc);
    padding: 50px 0;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--dark);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-item {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: calc((100% - 3 * 24px) / 4);
    text-align: center;
}

.team-item-image {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.team-card-content {
    padding: 32px 0;
}

.team-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--dark);
}

.team-item-text {
    letter-spacing: 0.02em;
    color: var(--dark);
}

.social-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 32px;
}

.social-icon-item {
    width: 40px;
    height: 40px;
}

.social-icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--cta);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: var(--active);
}

.social-icon {
    fill: var(--white);
}

/* section portfolio */

.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms var(--function-animation);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
    text-decoration: none;
    color: inherit;
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms var(--function-animation);
}

.portfolio-item:hover .overlay-description {
    transform: translateY(0%);
}

.overlay-text {
    color: var(--white);
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    height: 100%;
    width: 100%;
}

.portfolio-card-content {
    padding: 32px 0;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.portfolio-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: var(--dark);
}

.portfolio-item-text {
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
}


/* footer */

.footer {
    padding: 100px 0;
    background: var(--primary-cl);
}

footer .container {
    display: flex;
    align-items: baseline;
}

.footer-left {
    max-width: 264px;
    margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 16px
}

.footer-slogan {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-cl);
}

.footer-middle {
    margin-right: auto;
}

.footer-caption {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-cl);
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-socials.socials{
  gap: 16px;
}

.socials-item {
    width: 40px;
    height: 40px;
}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--secondary-cl);
    background: var(--accent-cl-100);
    border-radius: var(--radius-circle);
    transition: background-color var(--transition);
}

.socials-icon {
    fill: currentColor;
}

.footer-socials .socials-link:hover, 
.footer-socials .socials-link:focus {
    background-color: var(--footer-hover);
}